@mixin dark-theme {
  font-size: 1.063em;
  font-weight: 400;
  color: #ccc;

  button[disabled=disabled][type=button] {
    color: #484848;
    background-color: #2a2a2a;
    border: 1px solid #3c3c3c;
  }

  .tabs__btn {
    font-weight: bold;
    color: #9f9f9f;

    &:focus {
      border-bottom: 2px solid #fff;
      outline: 0;
    }
  }

  .tabs__btn--active {
    color: #fff;
    border-bottom: 2px solid #fff;
  }

  .tab--ul {
    font-weight: normal;
  }

  a {
    color: #00b77f;
  }

  h1 {
    color: $color-toggle-dark-bg-h1;
  }

  h2 {
    color: $color-toggle-dark-bg-h2;
  }

  h3 {
    color: #fff;
  }

  h4 {
    color: $color-h4;
  }

  li::before {
    color: #45c0a3;
  }

  .btn--big,
  .btn-contact-form {
    color: $color-h4;
    border-color: $color-h4;

    &:hover {
      color: #33e0b8;
      background-color: rgba(78, 220, 188, 0.13);
    }
  }

  .project-card {
    background-color: #252525;

    li {
      color: #43b99c;
    }

    h5 {
      color: #606060;
    }
  }

  .contact {
    input,
    textarea {
      color: #9f9f9f;
    }

    svg {
      color: $color-h4;
    }

    .contact-form .border--default {
      border-color: $color-h4;
    }

    .contact--social-icons svg {
      color: inherit;
    }
  }
}
