$color-toggle-light-bg: #fff;
$color-toggle-dark-bg: #000;
$color-toggle-light-bg-link: #000;
$color-toggle-dark-bg-link: #fff;
$color-toggle-light-bg-h1: #000;
$color-toggle-light-bg-h2: #a2a2a2;
$color-toggle-dark-bg-h1: #fff;
$color-toggle-dark-bg-h2: #585858;
$color-h4: #45c0a3;

$transition-bg-toggle: 0.5s ease-out;

$margin-flex-spacing: 3em;
